@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('http://fonts.googleapis.com/css?family=Handlee');


.treeview {
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
}
.treeview:hover input ~ label:before,
.treeview.hover input ~ label:before {
  opacity: 1.0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.treeview ul {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  list-style: none;
  padding-left: 1em;
}
.treeview ul li span {
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -ms-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.treeview ul li span:hover {
  color: rgba(255, 255, 255, 0.9);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.treeview input {
  display: none;
}
.treeview input:checked ~ ul {
  display: none;
}
.treeview input ~ label {
  cursor: pointer;
}
.treeview input ~ label:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  margin-left: -1em;
  margin-top: 0.4em;
  border-width: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-left-color: transparent;
  opacity: 0.0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.treeview input:checked ~ label:before {
  margin-left: -0.8em;
  border-width: 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: rgba(255, 255, 255, 0.5);
}

