// Our variables
$navtree-bg: rgb(30,36,47) !default;
$navtree-active-bg: rgb(0,112,205) !default;
$navtree-element-border-top-color:rgb(27,28,30) !default;
$navtree-element-listclosed-bg:rgb(47, 54, 70) !default;
$navtree-element-listopen-bg:rgb(53,61,78) !default;
$navtree-folder-text-color:#eee !default;
$navtree-link-text-color:#eee !default;



$navtree-icon-minus:url('../images/minus.png?embed=true') !default; /* using same file with .gif gives you dark symbol */
$navtree-icon-plus:url('../images/plus.png?embed=true') !default; /* using same file with .gif gives you dark symbol */



.subtree-name:hover{ background-color: transparent; text-decoration: underline; }
.nav>li>a:hover  { background-color: transparent; text-decoration: underline; }

#nav-menu li.collapsibleListOpen{
  /* background:$navtree-element-listopen-bg url('../images/minus.png?embed=true') no-repeat 16px 16px; */
  background:$navtree-element-listopen-bg $navtree-icon-minus no-repeat 16px 16px;
  cursor: pointer;
}


#nav-menu li.collapsibleListClosed{
  /* background: $navtree-element-listclosed-bg url('../images/plus.png?embed=true') no-repeat 16px 16px; */
  background: $navtree-element-listclosed-bg $navtree-icon-plus no-repeat 16px 16px;
	cursor: pointer;
}

#nav-menu li.collapsibleListClosed > ul {
  display: none;
}

#nav-menu li {
  border-top:1px solid $navtree-element-border-top-color;
  background-color: $navtree-bg;
}


#nav-menu li.active {
  background-color: $navtree-active-bg;
  /* margin-left: -40px;  */
  /* padding-left: 40px;  */
}

#nav-menu li ul li.active {
  margin-left: -40px;
  padding-left: 40px; 
}

#nav-menu li ul li ul li.active {
  margin-left: -80px;
  padding-left: 80px;
}

#nav-menu li ul li ul li ul li.active {
  margin-left: -120px; 
  padding-left: 120px; 
}

.subtree-name {
  padding:12px 38px;
  color: $navtree-folder-text-color;
  font-family: "Proxima N W15 Light", Helvetica, Arial, sans-serif;
}

#nav-menu .subtree-name+ul li {
  border:0px;
}

.subtree-name+ul {
  padding-left:40px;
  background-color: $navtree-bg;
}


#nav-menu .subtree-name+ul li.collapsibleListClosed {
  background-color: $navtree-bg;
}

#nav-menu .subtree-name+ul li.collapsibleListOpen {
  background-color: $navtree-bg;
}

.parent .subtree-name {
  padding-left:40px;
}

.nav>li>a {
  font-family: "Proxima N W15 Light", Helvetica, Arial, sans-serif;
  padding:12px 15px;
  color: $navtree-link-text-color;
  font-size: 12pt;
}

