{% assign newtree = %}
{% for item in include.opentree %}
{% if forloop.first %}{% else %}{% capture newtree %}{{newtree}}{{item}},{% endcapture %}{% endif %}
{% endfor %}
{% assign newtree = newtree | strip_newlines | split: "," %}
{% assign folder = include.opentree | first %} 

<!--
DEBUG: ENTER NODE
opentree: {{include.opentree }}
folder (current folder): {{folder}}
opentree.first (current folder): {{include.opentree | first}}
thetoc: {{include.theTOC}}
-->

<ul{% if include.outer %} id="nav-menu"{% endif %} class="nav nav-list">

{% for navitem in include.theTOC %}
	{% if navitem.folder %}

	{% assign folder = include.opentree | first %} 

	<!--
DEBUG: IS FOLDER
folder: X{{folder}}X
navitem.folder: Y{{navitem.folder}}Y
include.opentree.first: Z{{include.opentree | first}}Z
{% if folder == navitem.folder %}IS the Folder{% else %}IS NOT the Folder{% endif %}
{% if folder == navitem.folder %}collapsibleListOpen{% else %}collapsibleListClosed{% endif %}

-->
		
		<li class="parent {% if folder == navitem.folder %}collapsibleListOpen{% else %}collapsibleListClosed{% endif %}">
			<div class="subtree-name">{{ navitem.folder }}</div>
			{% if navitem.contents %}
				{% include /functions/f_navtree.html theTOC=navitem.contents opentree =newtree %}
			{% endif %}
		</li>

	{% elsif navitem.url %}
	  <li class={% if page.url == navitem.url %}"active"{% endif %}><a href="{{ navitem.url }}">{% if navitem.name %}{{navitem.name}}{% else %}{% include /functions/f_titlefromurl.html url=navitem.url %}{% endif %}</a></li>
	{% else %}
	  Unknown navitem: {{ navitem }}
	{% endif %}
	  
{% endfor %}
</ul>
